<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625405167152-s6evnn1ql5eqbrn29kusl8ajji1vht96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625405167152-s6evnn1ql5eqbrn29kusl8ajji1vht96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>625405167152-7n5j43bio1irg988ui4s24el2farcabo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBo-6tOj6vmG-mtjoq5U8KtdcBm-eNPN-M</string>
	<key>GCM_SENDER_ID</key>
	<string>625405167152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ftc.newyorkdelidelivery</string>
	<key>PROJECT_ID</key>
	<string>new-york-deli-6bf9b</string>
	<key>STORAGE_BUCKET</key>
	<string>new-york-deli-6bf9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625405167152:ios:e13c6d8aa32981b7d9cff5</string>
	<key>DATABASE_URL</key>
	<string>https://new-york-deli-6bf9b.firebaseio.com</string>
</dict>
</plist>